{% extends "base.html" %}

{% block content %}

    <h1>Exploratory Data Analysis of Rossman Pharmaceuticals</h1>

    <h3>Univariate Analysis</h3>

    <p>Machine Learning for Prediction and good wine</p>

    <h3>Bivariate Analysis</h3>
    <ul>
        <li>John Lotome</li>
        <li>Ridwan Amure</li>
        <li>Patrick Ojunde</li>
    </ul>


     <h3>About Models</h3>
    <ul>
        <li>Time-series Prediction</li>
        <li>Sales Prediction</li>
        <li>Customer Churn Prediction</li>
    </ul>

{% endblock %}