{% extends "base2.html" %}

{% block content %}

<div style="text-align:center;">
    <h1>Exploratory Data Analysis of Rossman Pharmaceuticals</h1>
</div>


<!-- r1 Images-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <h5>Sales Seasonality</h5>
<img src="static/visuals/r1/seasonality_sales.png" class="img-fluid" title="Sales Seasonality">
        </div>
        <div class="col-md-4">
<h5>Sales vs Customer Growth</h5>
<img src="static/visuals/r1/tms_duo_year.png" class="img-fluid" title="Sales vs Customer Growth">
        </div>
        <div class="col-md-4">
<h5>Monthly Sales</h5>
<img src="static/visuals/r1/tms_month.png" class="img-fluid" title="Monthly Sales">
        </div>
          <div class="col-md-4">
<h5>Yearly Sales</h5>
<img src="static/visuals/r1/tms_year.png" class="img-fluid" title="Yearly Sales">
        </div>
        <div class="col-md-4">
<h5>State Holiday Sales</h5>
<img src="static/visuals/r1/stateholiday_sales.png" class="img-fluid" title="State Holiday Sales">
        </div>
        <div class="col-md-4">
<h5>School Holiday Sales</h5>
<img src="static/visuals/r1/schoolholiday_sales.png" class="img-fluid" title="School Holiday Sales">
        </div>
<!--   r2 images  -->
        <div class="col-md-4">
<h5>Sales by Assortment</h5>
<img src="static/visuals/r2/assort_sales.png" class="img-fluid" title="Sales by Assortment">
        </div>
        <div class="col-md-4">
<h5>Customer Behaviour vs Store Open/Closure</h5>
<img src="static/visuals/r2/open_close_customer.png" class="img-fluid" title="Customer Behaviour vs Store Open/Closure">
        </div>
        <div class="col-md-4">
<h5>Sales Behaviour vs Store Open/Closure</h5>
<img src="static/visuals/r2/open_close_sales.png" class="img-fluid" title="Sales Behaviour vs Store Open/Closure">
        </div>
          <div class="col-md-4">
<h5>Sales Vs Customer Correlation</h5>
<img src="static/visuals/r2/sales_cust_corr.png" class="img-fluid" title="Sales Vs Customer Correlation">
        </div>
          <div class="col-md-4">
<h5>Sales Vs Promo Correlation</h5>
<img src="static/visuals/r2/promo_sales_corr.png" class="img-fluid" title="Sales Vs Promo Correlation">
        </div>
           <div class="col-md-4">
<h5>Customer Vs Promo Correlation</h5>
<img src="static/visuals/r2/promo_cust_corr.png" class="img-fluid" title="Customer Vs Promo Correlation">
        </div>
    </div>
</div>

<div class="container">
    <canvas id="myChart"></canvas>
</div>

<!--<script>-->
<!--    let myChart = document.getElementById('myChart').getContext('2d')-->
<!--    let massPopChart = new Chart(myChart, {-->
<!--    type:'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea-->
<!--    data:{-->
<!--    labels:["Boston", ],-->
<!--    datasets:[]},-->
<!--    options:{}});-->
<!--</script>-->

{% endblock %}