{% extends "base2.html" %}

{% block content %}


 <div class="login">
	<h1>Sales Forecasting</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="Customers" placeholder="Customers" required="required" />
        <input type="text" name="Open" placeholder="Open" required="required" />
        <input type="text" name="Promo" placeholder="Promo" required="required" />
		<input type="text" name="Promo2" placeholder="Promo2" required="required" />

        <input type="text" name="StateHoliday" placeholder="State Holiday" required="required" />
        <input type="text" name="SchoolHoliday" placeholder="School Holiday" required="required" />
		<input type="text" name="CompetitionDistance" placeholder="Competition Distance" required="required" />

        <input type="date" name="date" placeholder="Date" required="required" />
        <input type="text" name="StoreType" placeholder="Store Type" required="required" />
		<input type="text" name="Assortment" placeholder="Assortment" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict sales</button>

    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>

{% endblock %}