{% extends "base.html" %}

{% block content %}

<h1>Sign In</h1>

<form action="" method="post" novalidate>

<!--    The form.hidden_tag() template argument generates a hidden field that
includes a token that is used to protect the form against CSRF attacks.-->
    {{form.hidden_tag()}}


    <P>
        {{form.username.label}}<br>
        {{form.username(size=32)}}
        {% for error in form.password.errors %}
        <span style="color:red;"[{{ error }}]></span>
        {% endfor %}
    </P>

    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}<br>
        {% for error in form.password.errors %}
        <span style="color:red;"[{{ error }}]></span>
        {% endfor %}
    </p>

    <p>{{form.remember_me() }} {{ form.remember_me.label }}</p>
    <P>{{form.submit() }}</P>
</form>

{% endblock %}